{% extends 'video_call/main.html' %}

{% block content %}

<main  id = "form-container">
    <div> 
        <h1>Welcome to MyChat</h1>
        <p>A group video calling is just for you </p> 
    </div>
    <form id = "form">
        <div class = "form-field">
            <input type = "submit" value = "join streams"/>
        </div>   
    </form>    
</main>

<script type = "text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
      e.preventDefault()
      window.open('/space/','_self')
    }

    form.addEventListener('submit',handleSubmit)
</script>    
{% endblock content %}