{% extends 'video_call/main.html' %}
{% load static %}
{% block content %}

<section id = "room-name-wrapper">
    <p>Room name: <span id = "room-name"></span></p>
</section>

<section id = "video-streams">
   
    {% comment %} <div class = "video-container" id = "user-container-1">
        <div class= "username-wrapper"><span class = "user-name">My Name</span></div>
        <div class = "video-player" id = "user-1"></div>
    </div>   
        {% endcomment %}
        
</section>
<div> space </div>
<section id="controls-wrapper">
            <div id = "audio-btn" class="icon-wrapper">mic</div>

            <div id = "camera-btn" class="icon-wrapper">camera</div>

            <div id = "leave-button" class="icon-wrapper">leave</div>
</section>
<script type ="text/javascript" src = "{% static 'assets/AgoraRTC_N-4.16.1.js' %}"></script>
<script type ="text/javascript" src = "{% static 'js/stream.js' %}"></script>
{% endblock content %}